<div class="card mt-5">
  <div class="card-body">
    <ul>
      <li>W szczegółach kontaktu umieszcz id nad przyciskami</li>
      <li>W szczegółach kontaktu popraw popraw pokazywanie informacji o Relationship. Teraz jest np: Relationship: NoRelation a powinno być Relationship: No relation</li>
      <li>Po wejśćiu w szczegóły kontaktu, który nie istnieje wyłącz przycisk 'Delete'</li>
      <li>spróbuj przenieść modal confirmation do osobnego komponentu</li>
      <li>zrób navbar dla mobilek</li>
    </ul>
  </div>
</div>
