<div class="card mt-5">
  <div class="card-body">
    <ul>
      <li>zrób obsługę błędów w liście</li>
      <li>Zrób ładowanie listy z kontaktami</li>
      <li>
        ogarnij bottom karty z paginacją, daj numery stron, jaka jest aktualnie
        strone etc
      </li>
      <li>uzupełnij walidacje na backendzie w Create Contact</li>
      <li>
        zrób navbar przyczepiony do góry, scroll niech będzie w śrdoku w
        przypadku dużego kontentu
      </li>
      <li>zrób nabar dla mobilek</li>
      <li>
        sprawdz z ciekawosci czy będzie dzialac routing jak ustawisz flage
        useHash w app-routing i wylaczysz ustawienia w default.conf.template
      </li>
    </ul>
  </div>
</div>
