<div class="card mt-5">
  <div class="card-body">
    <ul>
      <li>
        Popraw wyłączanie przycisków podczas ładowania formualrzy, w logowaniu
        jest tak, że po pendingu pojawia sie przycisk na chwile i przechodzi do
        innej strony, zablokuj calkowicie gdy przechodzi na inna strone.
        Potestuj rejestracje i inne formularze w tym kierunku
      </li>
      <li>
        Ogarnij komunikat o poprawnym zarejestrowaniu, cos jest nie tak z card
      </li>
      <li>
        sprawdz z ciekawosci czy będzie dzialac routing jak ustawisz flage
        useHash w app-routing i wylaczysz ustawienia w default.conf.template
      </li>
      <li>ogarnij komunikaty z backendu we wszystkich formualrzach!</li>
    </ul>
  </div>
</div>
