<div id="app">
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a routerLink="home" role="button" class="navbar-brand">Touch base</a>

    <ul class="navbar-nav mr-auto" *ngIf="isUserLogged">
      <li class="nav-item">
        <a class="nav-link" role="button" routerLink="home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" role="button" routerLink="contact/list">Contacts</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="!isUserLogged">
      <li class="nav-item">
        <a class="nav-link" role="button" routerLink="auth/register">Sign Up</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" role="button" routerLink="auth/login">Login</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="isUserLogged">
      <li class="nav-item">
        <a class="nav-link" role="button" routerLink="profile">{{
          username
        }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" role="button" (click)="logout()">Logout</a>
      </li>
    </ul>
  </nav>

  <div class="container position-relative">
    <app-spinner [isLoading]="loading" />

    <router-outlet />
  </div>
</div>
