<div class="col-md-12 mt-5">
  <div class="card">
    <div class="card-body">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="firstname">Firstname</label>
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              name="firstname"
              formControlName="firstname"
              [ngClass]="{
                'is-invalid': getFormFieldErrors(form, 'firstname')
              }"
            />
          </div>
          <div
            class="text-danger"
            *ngIf="getFormFieldErrors(form, 'firstname')?.['required']"
          >
            <small>Firstname is required.</small>
          </div>
          <div
            class="text-danger"
            *ngIf="getFormFieldErrors(form, 'firstname')?.['maxlength']"
          >
            <small>Firstname length must be at most 40.</small>
          </div>
          <div
            class="text-danger"
            *ngIf="getFormFieldErrors(form, 'firstname')?.['invalidname']"
          >
            <small>Firstname can only contain letters.</small>
          </div>
        </div>

        <div class="form-group">
          <label for="surname">Surname</label>
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              name="surname"
              formControlName="surname"
              [ngClass]="{ 'is-invalid': getFormFieldErrors(form, 'surname') }"
            />
          </div>
          <div
            class="text-danger"
            *ngIf="getFormFieldErrors(form, 'surname')?.['required']"
          >
            <small>Surname is required.</small>
          </div>
          <div
            class="text-danger"
            *ngIf="getFormFieldErrors(form, 'surname')?.['maxlength']"
          >
            <small>Surname length must be at most 40.</small>
          </div>
          <div
            class="text-danger"
            *ngIf="getFormFieldErrors(form, 'surname')?.['invalidname']"
          >
            <small>Surname can only contain letters.</small>
          </div>
        </div>

        <div class="form-group">
          <label for="company">Company</label>
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              name="company"
              formControlName="company"
              [ngClass]="{ 'is-invalid': getFormFieldErrors(form, 'company') }"
            />
          </div>
          <div
            class="text-danger"
            *ngIf="getFormFieldErrors(form, 'company')?.['maxlength']"
          >
            <small>Company length must be at most 40.</small>
          </div>
        </div>

        <div class="form-group">
          <label for="phone">Phone</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">+48</span>
            </div>
            <input
              type="text"
              class="form-control"
              name="phone"
              formControlName="phone"
              [ngClass]="{ 'is-invalid': getFormFieldErrors(form, 'phone') }"
            />
          </div>
          <div
            class="text-danger"
            *ngIf="getFormFieldErrors(form, 'phone')?.['invalidphone']"
          >
            <small>Invalid phone format.</small>
          </div>
        </div>

        <div class="form-group">
          <label for="label">Label</label>
          <div class="input-group">
            <select class="form-control" name="label" formControlName="label">
              <option
                *ngFor="let label of contactLabel | enumToArray"
                [value]="label.index"
                [label]="label.name"
              ></option>
            </select>
          </div>
        </div>

        <div class="form-group">
          <label for="email">Email</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">@</span>
            </div>
            <input
              type="email"
              class="form-control"
              name="email"
              formControlName="email"
              [ngClass]="{ 'is-invalid': getFormFieldErrors(form, 'email') }"
            />
          </div>
          <div
            class="text-danger"
            *ngIf="getFormFieldErrors(form, 'email')?.['required']"
          >
            <small>Email is required.</small>
          </div>
          <div
            class="text-danger"
            *ngIf="getFormFieldErrors(form, 'email')?.['email']"
          >
            <small>Invalid email format.</small>
          </div>
          <div
            class="text-danger"
            *ngIf="getFormFieldErrors(form, 'email')?.['maxlength']"
          >
            <small>Email length must be at most 40.</small>
          </div>
        </div>

        <div class="form-group">
          <label for="birthday">Birthday</label>
          <div class="input-group">
            <input
              class="form-control"
              type="date"
              name="birthday"
              formControlName="birthday"
              [ngClass]="{ 'is-invalid': getFormFieldErrors(form, 'birthday') }"
            />
          </div>
          <div
            class="text-danger"
            *ngIf="getFormFieldErrors(form, 'birthday')?.['invaliddatebirth']"
          >
            <small>Invalid date of birth.</small>
          </div>
        </div>

        <div class="form-group">
          <label for="relationship">Relationship</label>
          <div class="input-group">
            <select
              class="form-control"
              name="relationship"
              formControlName="relationship"
            >
              <option
                *ngFor="let contact of contactRelationship | enumToArray"
                [value]="contact.index"
                [label]="contact.name"
              ></option>
            </select>
          </div>
        </div>

        <div class="form-group">
          <label for="notes">Notes</label>
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              name="notes"
              formControlName="notes"
              [ngClass]="{ 'is-invalid': getFormFieldErrors(form, 'notes') }"
            />
          </div>
          <div
            class="text-danger"
            *ngIf="getFormFieldErrors(form, 'notes')?.['maxlength']"
          >
            <small>Max length of notes is 15.</small>
          </div>
        </div>

        <button class="btn btn-primary btn-block" type="submit">Create</button>
      </form>
    </div>

    <div class="card-footer">
      <app-http-error [errors]="errors" />
    </div>
  </div>
</div>
