<div class="col-md-12 mt-5">
  <div class="card">
    <div class="card-body">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="firstname">Firstname</label>
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              name="firstname"
              formControlName="firstname"
              [ngClass]="{ 'is-invalid': getFieldErrors('firstname') }"
            />
          </div>
          <div
            class="text-danger"
            *ngIf="getFieldErrors('firstname')?.['required']"
          >
            <small>Firstname is required.</small>
          </div>
          <div
            class="text-danger"
            *ngIf="getFieldErrors('firstname')?.['maxlength']"
          >
            <small>Firstname length must be at most 40.</small>
          </div>
          <div
            class="text-danger"
            *ngIf="getFieldErrors('firstname')?.['invalidname']"
          >
            <small>Firstname can only contain letters.</small>
          </div>
        </div>

        <div class="form-group">
          <label for="surname">Surname</label>
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              name="surname"
              formControlName="surname"
              [ngClass]="{ 'is-invalid': getFieldErrors('surname') }"
            />
          </div>
          <div
            class="text-danger"
            *ngIf="getFieldErrors('surname')?.['required']"
          >
            <small>Surname is required.</small>
          </div>
          <div
            class="text-danger"
            *ngIf="getFieldErrors('surname')?.['maxlength']"
          >
            <small>Surname length must be at most 40.</small>
          </div>
          <div
            class="text-danger"
            *ngIf="getFieldErrors('surname')?.['invalidname']"
          >
            <small>Surname can only contain letters.</small>
          </div>
        </div>

        <div class="form-group">
          <label for="company">Company</label>
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              name="company"
              formControlName="company"
              [ngClass]="{ 'is-invalid': getFieldErrors('company') }"
            />
          </div>
          <div
            class="text-danger"
            *ngIf="getFieldErrors('company')?.['maxlength']"
          >
            <small>Company length must be at most 40.</small>
          </div>
        </div>

        <div class="form-group">
          <label for="phone">Phone</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">+48</span>
            </div>
            <input
              type="text"
              class="form-control"
              name="phone"
              formControlName="phone"
              [ngClass]="{ 'is-invalid': getFieldErrors('phone') }"
            />
          </div>
          <div
            class="text-danger"
            *ngIf="getFieldErrors('phone')?.['invalidphone']"
          >
            <small>Invalid phone format.</small>
          </div>
        </div>

        <div class="form-group">
          <label for="label">Label</label>
          <div class="input-group">
            <select class="form-control" name="label" formControlName="label">
              <option
                *ngFor="let label of contactLabel | enumToArray"
                [value]="label.index"
                [label]="label.name"
              ></option>
            </select>
          </div>
        </div>

        <div class="form-group">
          <label for="email">Email</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">@</span>
            </div>
            <input
              type="email"
              class="form-control"
              name="email"
              formControlName="email"
              [ngClass]="{ 'is-invalid': getFieldErrors('email') }"
            />
          </div>
          <div
            class="text-danger"
            *ngIf="getFieldErrors('email')?.['required']"
          >
            <small>Email is required.</small>
          </div>
          <div class="text-danger" *ngIf="getFieldErrors('email')?.['email']">
            <small>Invalid email format.</small>
          </div>
          <div
            class="text-danger"
            *ngIf="getFieldErrors('email')?.['maxlength']"
          >
            <small>Email length must be at most 40.</small>
          </div>
        </div>

        <div class="form-group">
          <label for="birthday">Birthday</label>
          <div class="input-group">
            <input
              class="form-control"
              type="date"
              name="birthday"
              formControlName="birthday"
              [ngClass]="{ 'is-invalid': getFieldErrors('birthday') }"
            />
          </div>
          <div
            class="text-danger"
            *ngIf="getFieldErrors('birthday')?.['invaliddatebirth']"
          >
            <small>Invalid date of birth.</small>
          </div>
        </div>

        <div class="form-group">
          <label for="relationship">Relationship</label>
          <div class="input-group">
            <select
              class="form-control"
              name="relationship"
              formControlName="relationship"
            >
              <option
                *ngFor="let contact of contactRelationship | enumToArray"
                [value]="contact.index"
                [label]="contact.name"
              ></option>
            </select>
          </div>
        </div>

        <div class="form-group">
          <label for="notes">Notes</label>
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              name="notes"
              formControlName="notes"
              [ngClass]="{ 'is-invalid': getFieldErrors('notes') }"
            />
          </div>
          <div
            class="text-danger"
            *ngIf="getFieldErrors('notes')?.['maxlength']"
          >
            <small>Max length of notes is 15.</small>
          </div>
        </div>

        <app-spinner-button [isLoading]="isLoading"
          >Register</app-spinner-button
        >
      </form>
    </div>

    <div class="card-footer">
      <app-http-error [errors]="errors" />
    </div>
  </div>
</div>
