<div class="card mt-5">
  <div class="card-header" *ngIf="fakeData">
    <ng-container *ngFor="let fake of fakeData">
      <span class="alert alert-info d-block text-center">
        <small>Fake: {{ fake.messages }}</small>
      </span>
    </ng-container>
  </div>
  <div class="card-body" *ngIf="user">
    <span class="alert alert-info d-block text-center">
      <small>Email: {{ user.email }}</small>
    </span>
    <span class="alert alert-info d-block text-center">
      <small>Username: {{ user.username }}</small>
    </span>
  </div>
  <div class="card-footer" *ngIf="secret">
    <span class="alert alert-primary d-block text-center">
      <small>Secret: {{ secret.message }}</small>
    </span>
  </div>
  <div class="card-subtitle" *ngIf="customData">
    <span class="alert alert-primary d-block text-center">
      <small>Custom message: {{ customData.customMessage }}</small>
    </span>
  </div>
  <div class="alert alert-info text-center" *ngIf="!customData">
    <span>Loading...</span>
  </div>
</div>
