<div class="col-md-12 mt-5 mb-5">
  <div class="card">
    <div class="card-header">
      <h5>Update Profile</h5>
    </div>
    <div class="card-body" *ngIf="user">
      <form [formGroup]="form">
        <div class="form-group required">
          <label for="username" class="control-label">User name</label>
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              name="username"
              formControlName="username"
              [ngClass]="{
                'is-invalid': isControlInvalid(form.get('username'))
              }"
            />
          </div>

          <app-control-error-component
            [errors]="getControlErrors(form.get('username'))"
          />
        </div>

        <div class="form-group required">
          <label for="email" class="control-label">Email</label>
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              name="email"
              formControlName="email"
              [ngClass]="{
                'is-invalid': isControlInvalid(form.get('email'))
              }"
            />
          </div>

          <app-control-error-component
            [errors]="getControlErrors(form.get('email'))"
          />
        </div>

        <button
          class="btn btn-primary btn-block"
          type="submit"
          (click)="onUpdateProfile()"
        >
          Update profile
        </button>
      </form>
    </div>

    <div class="card-footer">
      <app-http-error [errors]="errors" />
    </div>
  </div>
</div>
