<div class="card mt-5" *ngIf="contactsInfo">
  <div class="card-body">
    <div class="alert alert-info d-block text-center">
      <div class="btn-group btn-group-sm">
        <button type="button" class="btn btn-success" (click)="onAddContact()">
          Add contact
        </button>
      </div>
    </div>

    <div class="alert alert-info d-block text-center">
      <small
        >Total number of contacts: {{ contactsInfo.countOfContacts }}</small
      >
    </div>

    <div
      class="alert alert-info d-block text-center"
      *ngIf="contactsInfo.lastCreatedContact"
    >
      <small>
        Recently added contact:
        <a
          class="nav-item"
          role="button"
          (click)="onContactDetails(contactsInfo.lastCreatedContact.id)"
        >
          <span
            >{{ contactsInfo.lastCreatedContact.firstname }}
            {{ contactsInfo.lastCreatedContact.lastname }}</span
          >
        </a>
      </small>
    </div>
  </div>
</div>
