.card-body-wrap {
  overflow-x: auto;
}

.overlay-spinner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(119, 117, 117, 0.7);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}
