<div class="col-md-12 mt-5 mb-5">
  <div class="card">
    <div class="card-header">
      <h5>Change Password</h5>
    </div>
    <div class="card-body">
      <form [formGroup]="form">
        <div class="form-group required">
          <label for="oldPassword" class="control-label">Old password</label>
          <div class="input-group">
            <input
              type="password"
              class="form-control"
              name="oldPassword"
              formControlName="oldPassword"
              [ngClass]="{
                'is-invalid': isControlInvalid(form.get('oldPassword'))
              }"
            />
          </div>

          <app-control-error-component
            [errors]="getControlErrors(form.get('oldPassword'))"
          />
        </div>

        <div class="form-group required">
          <label for="newPassword" class="control-label">New password</label>
          <div class="input-group">
            <input
              type="password"
              class="form-control"
              name="newPassword"
              formControlName="newPassword"
              [ngClass]="{
                'is-invalid': isControlInvalid(form.get('newPassword'))
              }"
            />
          </div>

          <app-control-error-component
            [errors]="getControlErrors(form.get('newPassword'))"
          />
        </div>

        <button
          class="btn btn-primary btn-block"
          type="submit"
          (click)="onSubmit()"
        >
          Update password
        </button>
      </form>
    </div>
    <div class="card-footer">
      <app-http-error [errors]="errors" />
    </div>
  </div>
</div>
