<div class="modal fade" id="confirmationModal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Confirmation</h5>
        <button type="button" class="close">
          <span data-dismiss="modal">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure you want to remove this contact?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Cancel
        </button>
        <button
          type="button"
          class="btn btn-primary"
          data-dismiss="modal"
          (click)="onDelete()"
        >
          Ok
        </button>
      </div>
    </div>
  </div>
</div>

<div class="col-md-12 mt-5">
  <div class="card-header">
    <h5>Contact details</h5>
    <div class="btn-group btn-group-sm">
      <button type="button" class="btn btn-primary" (click)="onList()">
        Contact List
      </button>
      <button
        type="button"
        class="btn btn-danger"
        data-toggle="modal"
        data-target="#confirmationModal"
      >
        Delete
      </button>
    </div>
  </div>

  <div class="card-body card-body-wrap">
    <app-http-error [errors]="errors" />

    <ul class="list-group" *ngIf="contact">
      <li class="list-group-item">Id: {{ contact.id }}</li>
      <li class="list-group-item">Firstname: {{ contact.firstname }}</li>
      <li class="list-group-item">Surname: {{ contact.surname }}</li>
      <li class="list-group-item">Phone: {{ contact.phone }}</li>
      <li class="list-group-item">Email: {{ contact.email }}</li>
      <li class="list-group-item">Company: {{ contact.company }}</li>
      <li class="list-group-item">Label: {{ contact.label }}</li>
      <li class="list-group-item">
        Birth of day: {{ contact.birthday | date }}
      </li>
      <li class="list-group-item">Relationship: {{ contact.relationship }}</li>
      <li class="list-group-item">Notes: {{ contact.notes }}</li>
    </ul>
  </div>
</div>
