<div class="col-md-12 mt-5">
  <div class="card">
    <div class="card-header">
      <h5>Contact list</h5>
      <div class="btn-group btn-group-sm">
        <button type="button" class="btn btn-success" (click)="onCreate()">
          Create
        </button>
      </div>
    </div>

    <div class="card-body card-body-wrap">
      <app-http-error [errors]="errors" />

      <table class="table" *ngIf="contacts">
        <thead>
          <tr>
            <th scope="col">Firstname</th>
            <th scope="col">Surname</th>
            <th scope="col">Phone</th>
            <th scope="col">Email</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let contact of contacts.items">
            <td>{{ contact.firstname }}</td>
            <td>{{ contact.surname }}</td>
            <td>{{ contact.phone }}</td>
            <td>{{ contact.email }}</td>
            <td>
              <div class="btn-group btn-group-sm">
                <button
                  type="button"
                  class="btn btn-info"
                  (click)="onDetails(contact.id)"
                >
                  Details
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="card-footer">
      <app-paginator
        *ngIf="contacts"
        [totalPages]="contacts.totalPages"
        [pageNumber]="contacts.pageNumber"
        [hasPreviousPage]="contacts.hasPreviousPage"
        [hasNextPage]="contacts.hasNextPage"
        (pageChange)="onPageChange($event)"
      />
    </div>
  </div>
</div>
