<div class="card mt-5" *ngIf="user">
  <div class="card-body">
    <div class="alert alert-info d-block text-center">
      <small>Email: {{ user.email }}</small>
    </div>
    <div class="alert alert-info d-block text-center">
      <small>Username: {{ user.username }}</small>
    </div>
  </div>
  <div class="card-footer">
    <div class="row">
      <div class="col-12">
        <div class="text-right">
          <button type="button" class="btn btn-warning" (click)="logout()">
            Logout
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
