<div class="col-md-12 mt-5">
  <div class="card">
    <div class="card-header">
      <h5>Register form</h5>
    </div>

    <div class="card-body">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form-group required">
          <label for="email" class="control-label">User Name</label>
          <div class="input-group">
            <input
              type="username"
              class="form-control"
              name="username"
              formControlName="username"
              autocomplete="off"
              placeholder="Enter user name"
              [ngClass]="{ 'is-invalid': getFormFieldErrors(form, 'username') }"
            />
          </div>
          <div
            class="text-danger"
            *ngIf="getFormFieldErrors(form, 'username')?.['required']"
          >
            <small>User Name is required.</small>
          </div>
          <div
            class="text-danger"
            *ngIf="getFormFieldErrors(form, 'username')?.['maxlength']"
          >
            <small>User Name cannot contain more than 40 characters.</small>
          </div>
        </div>

        <div class="form-group required">
          <label for="email" class="control-label">Email</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">@</span>
            </div>
            <input
              type="email"
              class="form-control"
              name="email"
              formControlName="email"
              autocomplete="off"
              placeholder="Enter email address"
              [ngClass]="{ 'is-invalid': getFormFieldErrors(form, 'email') }"
            />
          </div>
          <div
            class="text-danger"
            *ngIf="getFormFieldErrors(form, 'email')?.['required']"
          >
            <small>Email is required.</small>
          </div>
          <div
            class="text-danger"
            *ngIf="getFormFieldErrors(form, 'email')?.['email']"
          >
            <small>Invalid email format.</small>
          </div>
          <div
            class="text-danger"
            *ngIf="getFormFieldErrors(form, 'email')?.['maxlength']"
          >
            <small>Email cannot contain more than 40 characters.</small>
          </div>
        </div>

        <div class="form-group required">
          <label for="password" class="control-label">Password</label>
          <div class="input-group">
            <input
              type="password"
              class="form-control"
              name="password"
              formControlName="password"
              autocomplete="new-password"
              placeholder="Enter password"
              [ngClass]="{ 'is-invalid': getFormFieldErrors(form, 'password') }"
            />
          </div>
          <div
            class="text-danger"
            *ngIf="getFormFieldErrors(form, 'password')?.['required']"
          >
            <small>Password is required.</small>
          </div>
          <div
            class="text-danger"
            *ngIf="getFormFieldErrors(form, 'password')?.['minlength']"
          >
            <small>Your password must be at least 8 characters long.</small>
          </div>
          <div
            class="text-danger"
            *ngIf="getFormFieldErrors(form, 'password')?.['maxlength']"
          >
            <small>Your password cannot contain more than 40 characters.</small>
          </div>
          <div
            class="text-danger"
            *ngIf="getFormFieldErrors(form, 'password')?.['invaliduppercaseletter']"
          >
            <small
              >Your password must contain at least one uppercase letter.</small
            >
          </div>
          <div
            class="text-danger"
            *ngIf="getFormFieldErrors(form, 'password')?.['invalidlowercaseletter']"
          >
            <small
              >Your password must contain at least one lowercase letter.</small
            >
          </div>
          <div
            class="text-danger"
            *ngIf="getFormFieldErrors(form, 'password')?.['invalidnumber']"
          >
            <small>Your password must contain at least one number.</small>
          </div>
          <div
            class="text-danger"
            *ngIf="getFormFieldErrors(form, 'password')?.['invalidspecialcharacter']"
          >
            <small
              >Your password must contain at least one special character.</small
            >
          </div>
        </div>

        <button class="btn btn-primary btn-block" type="submit">
          Register
        </button>
      </form>
    </div>

    <div class="card-footer">
      <app-http-error [errors]="errors" />
    </div>
  </div>
</div>
