<div class="col-md-12 mt-5">
  <div class="card">
    <div class="card-header">
      <h5>Register form</h5>
    </div>

    <div class="card-body">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form-group required">
          <label for="email" class="control-label">User Name</label>
          <div class="input-group">
            <input
              type="username"
              class="form-control"
              name="username"
              formControlName="username"
              autocomplete="off"
              placeholder="Enter user name"
              [ngClass]="{
                'is-invalid': isControlInvalid(form.get('username'))
              }"
            />
          </div>

          <app-control-error-component
            [errors]="getControlErrors(form.get('username'))"
          />
        </div>

        <div class="form-group required">
          <label for="email" class="control-label">Email</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">@</span>
            </div>
            <input
              type="email"
              class="form-control"
              name="email"
              formControlName="email"
              autocomplete="off"
              placeholder="Enter email address"
              [ngClass]="{ 'is-invalid': isControlInvalid(form.get('email')) }"
            />
          </div>

          <app-control-error-component
            [errors]="getControlErrors(form.get('email'))"
          />
        </div>

        <div class="form-group required">
          <label for="password" class="control-label">Password</label>
          <div class="input-group">
            <input
              type="password"
              class="form-control"
              name="password"
              formControlName="password"
              autocomplete="new-password"
              placeholder="Enter password"
              [ngClass]="{
                'is-invalid': isControlInvalid(form.get('password'))
              }"
            />
          </div>

          <app-control-error-component
            [errors]="getControlErrors(form.get('password'))"
          />
        </div>

        <button class="btn btn-primary btn-block" type="submit">
          Register
        </button>
      </form>
    </div>

    <div class="card-footer">
      <app-http-error [errors]="errors" />
    </div>
  </div>
</div>
