<form [formGroup]="form">
  <div class="form-group required">
    <label for="firstname" class="control-label">First Name</label>
    <div class="input-group">
      <input
        type="text"
        class="form-control"
        name="firstname"
        formControlName="firstname"
        [ngClass]="{
          'is-invalid': isControlInvalid(form.get('firstname'))
        }"
      />
    </div>

    <app-control-error-component
      [errors]="getControlErrors(form.get('firstname'))"
    />
  </div>

  <div class="form-group required">
    <label for="lastname" class="control-label">Last Name</label>
    <div class="input-group">
      <input
        type="text"
        class="form-control"
        name="lastname"
        formControlName="lastname"
        [ngClass]="{ 'is-invalid': isControlInvalid(form.get('lastname')) }"
      />
    </div>

    <app-control-error-component
      [errors]="getControlErrors(form.get('lastname'))"
    />
  </div>

  <div class="form-group">
    <label for="company">Company</label>
    <div class="input-group">
      <input
        type="text"
        class="form-control"
        name="company"
        formControlName="company"
        [ngClass]="{ 'is-invalid': isControlInvalid(form.get('company')) }"
      />
    </div>

    <app-control-error-component
      [errors]="getControlErrors(form.get('company'))"
    />
  </div>

  <div class="form-group">
    <label for="phone">Phone number</label>
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">+48</span>
      </div>
      <input
        type="text"
        class="form-control"
        name="phone"
        formControlName="phone"
        [ngClass]="{ 'is-invalid': isControlInvalid(form.get('phone')) }"
      />
    </div>

    <app-control-error-component
      [errors]="getControlErrors(form.get('phone'))"
    />
  </div>

  <div class="form-group">
    <label for="label">Label</label>
    <div class="input-group">
      <select class="form-control" name="label" formControlName="label">
        <option
          *ngFor="let contactLabel of contactLabels"
          [value]="contactLabel"
        >
          {{ ContactLabelMap[contactLabel] }}
        </option>
      </select>
    </div>
  </div>

  <div class="form-group required">
    <label for="email" class="control-label">Email</label>
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">@</span>
      </div>
      <input
        type="email"
        class="form-control"
        name="email"
        formControlName="email"
        [ngClass]="{ 'is-invalid': isControlInvalid(form.get('email')) }"
      />
    </div>

    <app-control-error-component
      [errors]="getControlErrors(form.get('email'))"
    />
  </div>

  <div class="form-group">
    <label for="birthday">Birthday</label>
    <div class="input-group">
      <input
        class="form-control"
        type="date"
        name="birthday"
        formControlName="birthday"
        [ngClass]="{ 'is-invalid': isControlInvalid(form.get('birthday')) }"
      />
    </div>

    <app-control-error-component
      [errors]="getControlErrors(form.get('birthday'))"
    />
  </div>

  <div class="form-group">
    <label for="relationship">Relationship</label>
    <div class="input-group">
      <select
        class="form-control"
        name="relationship"
        formControlName="relationship"
      >
        <option
          *ngFor="let contactRelationship of contactRelationships"
          [value]="contactRelationship"
        >
          {{ ContactRelationshipMap[contactRelationship] }}
        </option>
      </select>
    </div>
  </div>

  <div class="form-group">
    <label for="notes">Notes</label>
    <div class="input-group">
      <input
        type="text"
        class="form-control"
        name="notes"
        formControlName="notes"
        [ngClass]="{ 'is-invalid': isControlInvalid(form.get('notes')) }"
      />
    </div>

    <app-control-error-component
      [errors]="getControlErrors(form.get('notes'))"
    />
  </div>

  <button class="btn btn-primary btn-block" type="submit" (click)="onSbmit()">
    Submit
  </button>
</form>
