<form [formGroup]="form">
  <div class="form-group required">
    <label for="firstname" class="control-label">First Name</label>
    <div class="input-group">
      <input
        type="text"
        class="form-control"
        name="firstname"
        formControlName="firstname"
        [ngClass]="{
          'is-invalid': getFormFieldErrors(form, 'firstname')
        }"
      />
    </div>
    <div
      class="text-danger"
      *ngIf="getFormFieldErrors(form, 'firstname')?.['required']"
    >
      <small>First Name is required.</small>
    </div>
    <div
      class="text-danger"
      *ngIf="getFormFieldErrors(form, 'firstname')?.['maxlength']"
    >
      <small>First Name cannot contain more than 40 characters.</small>
    </div>
    <div
      class="text-danger"
      *ngIf="getFormFieldErrors(form, 'firstname')?.['invalidname']"
    >
      <small>First Name can only contain letters.</small>
    </div>
  </div>

  <div class="form-group required">
    <label for="lastname" class="control-label">Last Name</label>
    <div class="input-group">
      <input
        type="text"
        class="form-control"
        name="lastname"
        formControlName="lastname"
        [ngClass]="{ 'is-invalid': getFormFieldErrors(form, 'lastname') }"
      />
    </div>
    <div
      class="text-danger"
      *ngIf="getFormFieldErrors(form, 'lastname')?.['required']"
    >
      <small>Last Name is required.</small>
    </div>
    <div
      class="text-danger"
      *ngIf="getFormFieldErrors(form, 'lastname')?.['maxlength']"
    >
      <small>Last Name cannot contain more than 40 characters.</small>
    </div>
    <div
      class="text-danger"
      *ngIf="getFormFieldErrors(form, 'lastname')?.['invalidname']"
    >
      <small>Last Name can only contain letters.</small>
    </div>
  </div>

  <div class="form-group">
    <label for="company">Company</label>
    <div class="input-group">
      <input
        type="text"
        class="form-control"
        name="company"
        formControlName="company"
        [ngClass]="{ 'is-invalid': getFormFieldErrors(form, 'company') }"
      />
    </div>
    <div
      class="text-danger"
      *ngIf="getFormFieldErrors(form, 'company')?.['maxlength']"
    >
      <small>Company cannot contain more than 40 characters.</small>
    </div>
  </div>

  <div class="form-group">
    <label for="phone">Phone number</label>
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">+48</span>
      </div>
      <input
        type="text"
        class="form-control"
        name="phone"
        formControlName="phone"
        [ngClass]="{ 'is-invalid': getFormFieldErrors(form, 'phone') }"
      />
    </div>
    <div
      class="text-danger"
      *ngIf="getFormFieldErrors(form, 'phone')?.['invalidphone']"
    >
      <small>Invalid phone number format.</small>
    </div>
  </div>

  <div class="form-group">
    <label for="label">Label</label>
    <div class="input-group">
      <select class="form-control" name="label" formControlName="label">
        <option
          *ngFor="let contactLabel of contactLabels"
          [value]="contactLabel"
        >
          {{ ContactLabelMap[contactLabel] }}
        </option>
      </select>
    </div>
  </div>

  <div class="form-group required">
    <label for="email" class="control-label">Email</label>
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">@</span>
      </div>
      <input
        type="email"
        class="form-control"
        name="email"
        formControlName="email"
        [ngClass]="{ 'is-invalid': getFormFieldErrors(form, 'email') }"
      />
    </div>
    <div
      class="text-danger"
      *ngIf="getFormFieldErrors(form, 'email')?.['required']"
    >
      <small>Email is required.</small>
    </div>
    <div
      class="text-danger"
      *ngIf="getFormFieldErrors(form, 'email')?.['email']"
    >
      <small>Invalid email format.</small>
    </div>
    <div
      class="text-danger"
      *ngIf="getFormFieldErrors(form, 'email')?.['maxlength']"
    >
      <small>Email cannot contain more than 40 characters.</small>
    </div>
  </div>

  <div class="form-group">
    <label for="birthday">Birthday</label>
    <div class="input-group">
      <input
        class="form-control"
        type="date"
        name="birthday"
        formControlName="birthday"
        [ngClass]="{ 'is-invalid': getFormFieldErrors(form, 'birthday') }"
      />
    </div>
    <div
      class="text-danger"
      *ngIf="getFormFieldErrors(form, 'birthday')?.['invaliddatebirth']"
    >
      <small>Invalid date of birth.</small>
    </div>
  </div>

  <div class="form-group">
    <label for="relationship">Relationship</label>
    <div class="input-group">
      <select
        class="form-control"
        name="relationship"
        formControlName="relationship"
      >
        <option
          *ngFor="let contactRelationship of contactRelationships"
          [value]="contactRelationship"
        >
          {{ ContactRelationshipMap[contactRelationship] }}
        </option>
      </select>
    </div>
  </div>

  <div class="form-group">
    <label for="notes">Notes</label>
    <div class="input-group">
      <input
        type="text"
        class="form-control"
        name="notes"
        formControlName="notes"
        [ngClass]="{ 'is-invalid': getFormFieldErrors(form, 'notes') }"
      />
    </div>
    <div
      class="text-danger"
      *ngIf="getFormFieldErrors(form, 'notes')?.['maxlength']"
    >
      <small>Notes cannot contain more than 15 characters.</small>
    </div>
  </div>

  <button class="btn btn-primary btn-block" type="submit" (click)="onSbmit()">
    Submit
  </button>
</form>
